@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-default: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono), monospace;
  transition: background-color 0.3s, color 0.3s;
}

input, button, textarea, select {
  font-family: inherit;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

nav.dark {
  background-color: #000000;
}
